.messages,
.main__highlighted [role="contentinfo"] {
  padding: 0.7em 1.5em;
  background-color: #FFFFCC;
  color: #000000;
  margin: 1em 0; }
  .messages a,
  .main__highlighted [role="contentinfo"] a {
    color: #000000;
    border-bottom: 1px dotted #000000; }
    .messages a:hover,
    .main__highlighted [role="contentinfo"] a:hover {
      color: #000000; }
    .messages a:active,
    .main__highlighted [role="contentinfo"] a:active {
      color: #000000; }
    .messages a:focus,
    .main__highlighted [role="contentinfo"] a:focus {
      color: #000000; }

.messages--error, .messages.error,
.main__highlighted --error[role="contentinfo"],
.main__highlighted [role="contentinfo"].error {
  background-color: #eba5a3; }

.messages--success, .messages--status, .messages.status, .messages.ok,
.main__highlighted --success[role="contentinfo"],
.main__highlighted --status[role="contentinfo"],
.main__highlighted [role="contentinfo"].status,
.main__highlighted [role="contentinfo"].ok {
  background-color: #8ddbb0; }

.messages--warning, .messages.warning,
.main__highlighted --warning[role="contentinfo"],
.main__highlighted [role="contentinfo"].warning {
  background-color: #f0ad4e; }

.messages__list,
.main__highlighted [role="contentinfo"]__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em; }

.messages__item,
.main__highlighted [role="contentinfo"]__item {
  margin-bottom: 0.8em; }
  .messages__item:last-of-type,
  .main__highlighted [role="contentinfo"]__item:last-of-type {
    margin-bottom: 0; }

.messages .krumo-root,
.main__highlighted [role="contentinfo"] .krumo-root {
  color: #000000; }

form {
  padding: 0; }

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #AFAFAF;
  background: #ffffff;
  color: #000000;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  padding: 8px;
  width: 280px;
  max-width: 100%; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input[type="search"] {
  box-sizing: border-box; }

fieldset {
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #e6e4e5;
  background: white;
  padding: 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); }

fieldset legend {
  color: #A30600;
  font-weight: bold;
  padding: 5px 15px;
  margin-left: 20px; }

.fieldgroup {
  box-shadow: none; }

.description {
  color: #837B80; }

.machine-name-value {
  margin-right: 5px; }

.form-required::before {
  content: '*';
  color: #D13737;
  margin-right: 3px; }

.form-item {
  margin-bottom: 10px; }
  .form-item label:not(.option) {
    color: #000000;
    font-weight: bold;
    display: block;
    vertical-align: top; }

body {
  margin: 0;
  padding: 0; }
  body *, body *:before, body *:after {
    box-sizing: border-box; }
  body img {
    display: block;
    max-width: 100%;
    height: 100%; }
  body main {
    padding-bottom: 30px; }

#skip-link {
  margin: 0;
  padding: 0; }
  #skip-link li {
    list-style-type: none; }

.wrapper--main,
.wrapper--nav-footer,
.front-page .wrapper--header {
  max-width: 87.5em;
  margin: 0 auto; }

.site-header,
.site-main,
#footer,
#breadcrumb {
  *zoom: 1;
  max-width: 87.5em;
  margin: 0 auto; }
  .site-header:before, .site-header:after,
  .site-main:before,
  .site-main:after,
  #footer:before,
  #footer:after,
  #breadcrumb:before,
  #breadcrumb:after {
    content: '';
    display: table; }
  .site-header:after,
  .site-main:after,
  #footer:after,
  #breadcrumb:after {
    clear: both; }

.region--navigation {
  display: inline-block; }

.site-header,
.site-main,
.breadcrumbs-wrapper,
#footer {
  padding-left: 20px;
  padding-right: 20px; }

body.page-panels h1.main__title {
  padding-left: 20px;
  padding-right: 20px; }

body.page-panels .site-main {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.panel-display .row {
  *zoom: 1;
  max-width: 87.5em;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  .panel-display .row:before, .panel-display .row:after {
    content: '';
    display: table; }
  .panel-display .row:after {
    clear: both; }

.panel-display.empty-right .column.center, .panel-display.empty-left .column.center {
  *zoom: 1;
  max-width: 87.5em;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  .panel-display.empty-right .column.center:before, .panel-display.empty-right .column.center:after, .panel-display.empty-left .column.center:before, .panel-display.empty-left .column.center:after {
    content: '';
    display: table; }
  .panel-display.empty-right .column.center:after, .panel-display.empty-left .column.center:after {
    clear: both; }

.panel-display.panel-display--three-column, .panel-display.panel-display--two-eq-column {
  padding-left: 0;
  padding-right: 0; }
  .panel-display.panel-display--three-column.empty-left.empty-right, .panel-display.panel-display--two-eq-column.empty-left.empty-right {
    padding-left: 20px;
    padding-right: 20px; }

body.fluid-bear .site-header,
body.fluid-bear #breadcrumbs,
body.fluid-bear .site-footer {
  max-width: 100%;
  margin: 0; }

body.fluid-bear .site-main {
  max-width: 100%;
  margin: 0; }

body.fluid-bear .panel-display .row {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%; }

body.fluid-bear .panel-display.empty-right .column.center, body.fluid-bear .panel-display.empty-left .column.center {
  padding-left: 20px;
  padding-right: 20px; }

body.fluid-bear .panel-display.panel-display--three-column, body.fluid-bear .panel-display.panel-display--two-eq-column {
  padding-left: 0;
  padding-right: 0; }
  body.fluid-bear .panel-display.panel-display--three-column.empty-left.empty-right, body.fluid-bear .panel-display.panel-display--two-eq-column.empty-left.empty-right {
    padding-left: 20px;
    padding-right: 20px; }

body.fluid-bear:not(.page-panels) .site-main {
  padding: 0 20px; }

body.with-sticky-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column; }

body.with-sticky-footer .wrapper--main {
  position: relative;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  overflow: hidden; }

.tabs-primary,
.tabs-secondary {
  *zoom: 1;
  position: relative;
  height: 33px;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 1em 0 1.5em;
  border-bottom: 1px solid #cccccc;
  white-space: nowrap;
  background: #eaeaea; }
  .tabs-primary:before, .tabs-primary:after,
  .tabs-secondary:before,
  .tabs-secondary:after {
    content: '';
    display: table; }
  .tabs-primary:after,
  .tabs-secondary:after {
    clear: both; }
  .tabs-primary li,
  .tabs-secondary li {
    display: block;
    float: left;
    text-align: center;
    background-color: #F2F2F2;
    line-height: 33px;
    height: 33px;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 1px solid #cccccc;
    transition: background-color 0.5s ease; }
    .tabs-primary li:hover,
    .tabs-secondary li:hover {
      background-color: #619fcd; }
  .tabs-primary a,
  .tabs-secondary a {
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
    padding: 0 1em; }
    .tabs-primary a.is-active,
    .tabs-secondary a.is-active {
      border-bottom: 1px solid #000000; }

.tab {
  display: block;
  float: left;
  text-align: center;
  background-color: #F2F2F2;
  line-height: 33px;
  height: 33px;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 1px solid #cccccc;
  transition: background-color 0.5s ease;
  border: 1px solid #cccccc; }
  .tab:hover {
    background-color: #619fcd; }
  .tab:hover {
    background-color: #619fcd;
    border-color: #3679ab; }
    .tab:hover a {
      color: #ffffff; }
  .tab a {
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
    padding: 0 1em; }
    .tab a.is-active {
      border-bottom: 1px solid #000000; }

.tabgroup {
  *zoom: 1;
  position: relative;
  height: 33px;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 1em 0 1.5em;
  border-bottom: 1px solid #cccccc;
  white-space: nowrap;
  height: auto; }
  .tabgroup:before, .tabgroup:after {
    content: '';
    display: table; }
  .tabgroup:after {
    clear: both; }

p:first-child, p:first-of-type {
  margin-top: 0; }

p:last-child, p:last-of-type {
  margin-bottom: 0; }

.tiny {
  font-size: 8px;
  font-size: 0.84rem; }

.smaller {
  font-size: 10px;
  font-size: 0.98rem; }

.small {
  font-size: 13px;
  font-size: 1.26rem; }

.large {
  font-size: 15px;
  font-size: 1.54rem; }

.larger {
  font-size: 17px;
  font-size: 1.68rem; }

.largest {
  font-size: 18px;
  font-size: 1.82rem; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000000;
  font-family: "proxima-nova", sans-serif;
  line-height: 1.5; }

a {
  color: #15428C;
  text-decoration: none;
  transition: color 0.25s ease;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    color: #CC6600; }
  a:active {
    color: #15428C; }
  a:focus {
    color: #15428C; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "proxima-nova", sans-serif;
  line-height: 1.2; }

h1, .h1 {
  font-size: 28px;
  font-size: 2.8rem; }

h1.u-hidden {
  position: relative !important;
  margin: 0.4em 0; }

h2, .h2 {
  font-size: 24px;
  font-size: 2.38rem; }

h3, .h3 {
  font-size: 18px;
  font-size: 1.82rem; }

h4, .h4 {
  font-size: 17px;
  font-size: 1.68rem; }

h5, .h5 {
  font-size: 12px;
  font-size: 1.162rem;
  text-transform: uppercase; }

h6, .h6 {
  font-size: 11px;
  font-size: 1.05rem;
  text-transform: uppercase; }

mark {
  padding: 2px;
  background-color: #F9B634; }
  mark.new {
    background-color: transparent;
    color: #d9534f;
    font-size: 75%; }
    mark.new:before {
      content: "**";
      display: inline-block;
      margin-right: 2px; }
  mark.updated {
    font-size: 75%; }

blockquote {
  background-color: #e6e4e5;
  font-size: 110%;
  padding: 1em; }

.progress {
  font-size: 80%; }

.u-hidden {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.u-unhidden {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto; }

.u-focusable {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .u-focusable:active, .u-focusable:focus {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto; }

.u-no-box-shadow {
  box-shadow: none; }

.u-no-text-shadow {
  text-shadow: none; }

.site-sidebars .block {
  margin-bottom: 30px; }

.block-entity-fieldnodefield-see-also-link {
  border: 1px solid #cccccc; }
  .block-entity-fieldnodefield-see-also-link h2 {
    background-color: #F2F2F2;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 10px 15px;
    font-size: 18.2px; }
  .block-entity-fieldnodefield-see-also-link .content {
    padding: 15px; }

#breadcrumb ul {
  padding: 0; }

#breadcrumb li {
  display: inline; }
  #breadcrumb li.active a {
    color: #837B80; }
  #breadcrumb li:not(:first-child)::before {
    content: "/";
    padding: 0 3px;
    color: #d2d5d8; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #cdcdec;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  background-color: #F2F2FA;
  color: #000000;
  padding: 0.25em 0.5em;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  background-color: #d2d5d8;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='$fromColor', EndColorStr='$toColor');
  background-image: linear-gradient(to bottom, #F2F2FA, #d2d5d8);
  border-color: #9ba2a9; }
  .button * {
    position: relative; }
  .button:hover, .button:focus {
    background-color: #e0e0f3;
    text-decoration: none;
    color: #000000; }
  .button:hover {
    background-color: #F2F2FA;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='$fromColor', EndColorStr='$toColor');
    background-image: linear-gradient(to bottom, #d2d5d8, #F2F2FA); }

.slick--view--carousel {
  background-color: #cccccc;
  margin-bottom: 40px;
  display: none; }

.slick-arrow::before {
  color: #4d4d4d; }

.slick--skin--boxed .slide__content {
  margin: 0 15px;
  border: none;
  border-radius: 0; }

.block-facets {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  /* For facets showing list of links. */
  /* For facets showing list of checkboxes or dropdown.
	 * Some overriding of styles from _form.scss is happening here. */ }
  .block-facets h2 {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc; }
    .block-facets h2::before {
      content: url(/sites/default/files/images/common/facetopen.gif);
      margin-right: 5px; }
  .block-facets .content {
    padding: 10px; }
  .block-facets ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .block-facets fieldset legend,
  .block-facets .js-form-type-select label {
    display: none !important; }
  .block-facets input {
    margin: 0 !important; }
  .block-facets select {
    max-width: 100%; }

footer {
  font-size: 12.88px;
  color: #ffffff;
  padding: 1em 0; }
  footer a {
    color: #A2D1D8; }
  footer nav ul {
    margin: 0;
    padding: 0; }
    footer nav ul li {
      list-style-type: none; }

header {
  background-color: #F2F2F2;
  display: block; }
  header .main-nav a {
    color: #ffffff; }
    header .main-nav a:hover {
      color: #cccccc; }
  .front-page header {
    background-color: #031b51; }

.site-header {
  padding: 15px; }

.site-header__logo {
  float: left; }
  .site-header__logo img {
    max-width: 290px;
    height: auto; }

#block-bear-skin-branding {
  padding: 10px 0 20px 0;
  margin-right: 30px; }

.node--type-menu_landing_page .main-nav,
.node--type-menu_landing_page .main-nav__sub {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.node--type-menu_landing_page .main-nav__item.parent {
  display: none; }
  .node--type-menu_landing_page .main-nav__item.parent .is-active {
    display: none; }
  .node--type-menu_landing_page .main-nav__item.parent.active {
    display: block; }

.site-nav-footer {
  max-width: 87.5em;
  margin: 0 auto; }
  .site-nav-footer ul {
    margin: 0; }

.wrapper--nav-footer {
  border-top: 1px solid #cccccc;
  box-shadow: inset 0 4.1667em 6.667em -1.667em rgba(20, 44, 55, 0.13); }

body.has-sidr header nav {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

header nav {
  outline: 0;
  margin-left: 20px;
  max-width: 87.5em;
  margin: 0 auto; }
  header nav .nolink {
    cursor: pointer; }
  header nav ul.main-nav {
    position: relative;
    margin: 8px 0 0 0;
    transition: margin .3s ease-in-out; }
    header nav ul.main-nav > li.main-nav__item {
      margin: 0; }
      header nav ul.main-nav > li.main-nav__item:hover ul.main-nav__sub {
        top: 37px;
        opacity: 1;
        visibility: visible;
        z-index: 10; }
      header nav ul.main-nav > li.main-nav__item:hover > a {
        border: 1px solid #cccccc;
        background: #ffffff;
        color: #CC6600; }
    header nav ul.main-nav li a {
      text-decoration: none;
      text-align: center;
      display: block; }
      header nav ul.main-nav li a:hover, header nav ul.main-nav li a:focus, header nav ul.main-nav li a.is-active {
        background: #ffffff;
        color: #CC6600;
        text-decoration: none; }
  header nav ul.main-nav {
    *zoom: 1;
    height: 2.75em; }
    header nav ul.main-nav:before, header nav ul.main-nav:after {
      content: '';
      display: table; }
    header nav ul.main-nav:after {
      clear: both; }
    header nav ul.main-nav li.parent {
      position: relative;
      display: inline-block;
      height: 100%; }
      header nav ul.main-nav li.parent a {
        height: 100%;
        padding: 10px 0; }
      header nav ul.main-nav li.parent:hover:after {
        opacity: .8;
        bottom: 5px; }
      header nav ul.main-nav li.parent ul.main-nav__sub {
        background: #ffffff;
        border: 0;
        margin: 0;
        padding: 20px 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        min-width: 200px;
        opacity: 0;
        visibility: hidden;
        box-shadow: .17em .17em .17em #8d8d8d;
        border-left: solid 1px #cccccc; }
        header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item {
          margin-bottom: 8px;
          padding: 0 10px;
          display: block; }
          header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a {
            text-align: left;
            padding: 0;
            color: #000000; }
            header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a:hover {
              color: #CC6600; }
            header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a:active {
              color: #CC6600; }
            header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a:focus {
              color: #CC6600; }
            header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a:hover, header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a:focus {
              background: transparent;
              text-decoration: underline; }
            header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item a.is-active {
              background: transparent; }
          header nav ul.main-nav li.parent ul.main-nav__sub li.main-nav__item:last-child {
            margin-bottom: 0; }
        header nav ul.main-nav li.parent ul.main-nav__sub .main-nav__item {
          text-transform: initial;
          margin-bottom: 0; }
          header nav ul.main-nav li.parent ul.main-nav__sub .main-nav__item:hover, header nav ul.main-nav li.parent ul.main-nav__sub .main-nav__item:focus, header nav ul.main-nav li.parent ul.main-nav__sub .main-nav__item.active {
            background: transparent;
            color: #728EAD; }
          header nav ul.main-nav li.parent ul.main-nav__sub .main-nav__item:after {
            display: none; }
  header nav .main-nav__sub li.parent > a:after,
  header nav .main-nav__sub li.parent:hover > a:after {
    content: "";
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -5px;
    bottom: 0;
    left: inherit;
    margin: 3px 0 0 0;
    display: inline-block !important;
    opacity: 1 !important; }
  header nav .main-nav__sub li.parent:after {
    display: none; }
  header nav .main-menu--level-three {
    top: -10px; }

.sidr {
  font-family: "proxima-nova", sans-serif; }

#sidr-bttn,
#mobile-nav {
  margin-left: 20px; }
  #sidr-bttn #responsive-menu-button,
  #mobile-nav #responsive-menu-button {
    display: block;
    width: 45px;
    height: 40px;
    padding-left: 8px;
    padding-top: 3px;
    position: relative;
    float: right;
    background-color: #cccccc; }
  #sidr-bttn span,
  #mobile-nav span {
    display: block;
    position: relative;
    background: #261D19;
    height: 5px;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63);
    width: 30px;
    top: 15px; }
    #sidr-bttn span:before, #sidr-bttn span:after,
    #mobile-nav span:before,
    #mobile-nav span:after {
      content: "";
      display: block;
      background: #261D19;
      height: 5px;
      margin-top: 0;
      position: absolute;
      width: 30px;
      transition: all 0.3s cubic-bezier(0.7, 0, 0.36, 0.63); }
    #sidr-bttn span:before,
    #mobile-nav span:before {
      top: 8px; }
    #sidr-bttn span:after,
    #mobile-nav span:after {
      top: -8px; }

.sidr-animating .wrapper--header {
  position: absolute; }

h2.sidr-class-visually-hidden {
  position: absolute !important;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.sidr-class-contextual,
.sidr-class-main-nav__sub {
  display: none !important; }

#mobile-nav {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px; }
  #mobile-nav.hidden {
    display: none; }
  #mobile-nav #mobile-button {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left: 5px;
    top: 2px; }
    #mobile-nav #mobile-button.on span {
      background: transparent; }
      #mobile-nav #mobile-button.on span:before, #mobile-nav #mobile-button.on span:after {
        top: 0; }
      #mobile-nav #mobile-button.on span:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      #mobile-nav #mobile-button.on span:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }

body .responsive-nav {
  display: block;
  overflow: hidden; }

body.sidr-open #header .responsive-nav {
  left: 20px; }

body.sidr-open #header .site-header__logo {
  opacity: 0; }

body.sidr-open #header #sidr-bttn {
  margin-left: 0; }
  body.sidr-open #header #sidr-bttn span {
    background: transparent; }
    body.sidr-open #header #sidr-bttn span:before, body.sidr-open #header #sidr-bttn span:after {
      top: 0; }
    body.sidr-open #header #sidr-bttn span:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    body.sidr-open #header #sidr-bttn span:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.sidr-animating .wrapper--header {
  position: absolute; }

#block-bear-coat-main-menu.mobile {
  float: none; }
  #block-bear-coat-main-menu.mobile ul.main-nav {
    position: absolute;
    top: 35px;
    right: 18px;
    background: white;
    border-radius: 4px;
    width: 200px !important;
    padding: 10px !important;
    box-shadow: 0 0 5px #999;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: absolute !important;
    height: 0;
    width: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
    #block-bear-coat-main-menu.mobile ul.main-nav:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #261D19;
      position: absolute;
      right: 7px;
      top: -8px; }
    #block-bear-coat-main-menu.mobile ul.main-nav li {
      clear: both;
      display: block;
      padding: 0; }
      #block-bear-coat-main-menu.mobile ul.main-nav li:after {
        display: none !important; }
      #block-bear-coat-main-menu.mobile ul.main-nav li a {
        background: transparent !important;
        transition: none;
        color: #261D19; }
        #block-bear-coat-main-menu.mobile ul.main-nav li a:hover, #block-bear-coat-main-menu.mobile ul.main-nav li a:focus, #block-bear-coat-main-menu.mobile ul.main-nav li a.active {
          color: #728EAD !important;
          text-decoration: none; }
    #block-bear-coat-main-menu.mobile ul.main-nav.show {
      position: static !important;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
      position: absolute !important;
      opacity: 1;
      overflow: visible; }
    #block-bear-coat-main-menu.mobile ul.main-nav .parent:hover ul {
      position: static !important;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
      position: relative;
      border: 0;
      top: 0;
      opacity: 1;
      min-width: auto;
      padding: 0 0 0 25px;
      background: transparent; }
      #block-bear-coat-main-menu.mobile ul.main-nav .parent:hover ul li a {
        text-transform: none;
        color: #261D19; }

.pager-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  margin: 30px 0; }

nav.ui.breadcrumb {
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.4); }
  nav.ui.breadcrumb ul {
    padding: 0;
    margin: 0; }
  nav.ui.breadcrumb li {
    display: inline; }
  nav.ui.breadcrumb a {
    color: #261D19; }
    nav.ui.breadcrumb a:hover {
      color: #728EAD; }
    nav.ui.breadcrumb a:active {
      color: #eaeaea; }
    nav.ui.breadcrumb a:focus {
      color: #eaeaea; }
  nav.ui.breadcrumb i:last-child {
    display: none; }

.pager__items {
  list-style-type: none;
  text-align: center; }

.pager__item {
  display: inline;
  margin-left: -1px;
  padding: 3px 8px;
  border: 1px solid #cccccc; }
  .pager__item:hover {
    background-color: #F2F2F2; }
  .pager__item.is-active {
    background-color: #15428C;
    border-color: #15428C; }
    .pager__item.is-active a {
      color: #ffffff; }
  .pager__item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .pager__item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

body {
  background: #F8F8F8; }
  body.front-page {
    background: #031b51; }

.wrapper {
  background: #ffffff; }

.wrapper--main {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); }
  .front-page .wrapper--main {
    box-shadow: none; }

.page-title {
  color: #b33300; }

#main .site-sidebars {
  padding-top: 30px; }
  #main .site-sidebars .block h2 {
    margin-top: 0; }

#block-pennlib-account-menu {
  display: none; }
  #block-pennlib-account-menu ul {
    margin: 0; }
    #block-pennlib-account-menu ul li {
      display: inline;
      list-style: none;
      margin: 0 10px;
      font-size: 13.3px; }
  #block-pennlib-account-menu a {
    color: #000000; }
    .front-page #block-pennlib-account-menu a {
      color: #ffffff; }
    #block-pennlib-account-menu a:hover {
      color: #cccccc; }

.block-views-blockworkshops-workshops .workshops-col:nth-of-type(odd) .views-row:nth-of-type(odd) {
  background-color: #F2F2F2; }

.block-views-blockworkshops-workshops .workshops-col:nth-of-type(even) .views-row:nth-of-type(even) {
  background-color: #F2F2F2; }

.block-views-blockworkshops-workshops h3 {
  font-size: 14px;
  margin: 10px; }

.block-views-blockworkshops-workshops article > div {
  display: none; }

.wrapper--header {
  background-color: #031b51; }

.wrapper--nav {
  background-color: #000033; }

.wrapper--footer {
  background-color: #031b51; }

@media (min-width: 50em) {
  .form-item label:not(.option):not([for^="edit-text-format-value"]) {
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 5px; }
  .form-item .form-managed-file,
  .form-item.form-item-textarea div,
  .form-item[class*="form-item-message"] div {
    display: inline-block; }
  .form-item .description,
  .form-item .form-checkbox,
  .form-item .form-radio,
  .form-item .password-strength,
  .form-item div.password-confirm {
    margin-left: 30%; }
  .form-item .password-strength {
    width: 280px;
    max-width: 100%; }
  .form-submit:first-child,
  .fieldgroup legend {
    margin-left: 30%; }
  .layout-sidebar-first main {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%; }
  .layout-sidebar-first main:before, .layout-sidebar-first main:after {
    content: '';
    display: table; }
  .layout-sidebar-first main:after {
    clear: both; }
  .layout-sidebar-first main:last-child {
    margin-right: 0%; }
  .layout-sidebar-first .site-sidebars {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -77.25%; }
  .layout-sidebar-first .site-sidebars:before, .layout-sidebar-first .site-sidebars:after {
    content: '';
    display: table; }
  .layout-sidebar-first .site-sidebars:after {
    clear: both; }
  .layout-sidebar-first .site-sidebars:last-child {
    margin-right: 0%; }
  .layout-sidebar-second main {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%; }
  .layout-sidebar-second main:before, .layout-sidebar-second main:after {
    content: '';
    display: table; }
  .layout-sidebar-second main:after {
    clear: both; }
  .layout-sidebar-second main:last-child {
    margin-right: 0%; }
  .layout-sidebar-second .site-sidebars {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
  .layout-sidebar-second .site-sidebars:before, .layout-sidebar-second .site-sidebars:after {
    content: '';
    display: table; }
  .layout-sidebar-second .site-sidebars:after {
    clear: both; }
  .layout-sidebar-second .site-sidebars:last-child {
    margin-right: 0%; }
  .layout-two-sidebars main {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%; }
  .layout-two-sidebars main:before, .layout-two-sidebars main:after {
    content: '';
    display: table; }
  .layout-two-sidebars main:after {
    clear: both; }
  .layout-two-sidebars main:last-child {
    margin-right: 0%; }
  .layout-two-sidebars .sidebar-first {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -51.5%; }
  .layout-two-sidebars .sidebar-first:before, .layout-two-sidebars .sidebar-first:after {
    content: '';
    display: table; }
  .layout-two-sidebars .sidebar-first:after {
    clear: both; }
  .layout-two-sidebars .sidebar-first:last-child {
    margin-right: 0%; }
  .layout-two-sidebars .sidebar-second {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
  .layout-two-sidebars .sidebar-second:before, .layout-two-sidebars .sidebar-second:after {
    content: '';
    display: table; }
  .layout-two-sidebars .sidebar-second:after {
    clear: both; }
  .layout-two-sidebars .sidebar-second:last-child {
    margin-right: 0%; }
  body.has-sidr header nav {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    overflow: visible; }
  header nav ul.main-nav {
    margin: 30px 30px 0 0; }
  header nav ul.main-nav li.parent {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: 0%; }
  header nav ul.main-nav li.parent:before, header nav ul.main-nav li.parent:after {
    content: '';
    display: table; }
  header nav ul.main-nav li.parent:after {
    clear: both; }
  header nav ul.main-nav li.parent:last-child {
    margin-right: 0%; }
  .wrapper--header.compressed header nav ul.main-nav {
    margin: 5px 0; }
  body .responsive-nav {
    display: none; }
  #block-pennlib-account-menu {
    display: block;
    float: right; }
  .block-views-blockworkshops-workshops .workshops-col {
    zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%; }
  .block-views-blockworkshops-workshops .workshops-col:before, .block-views-blockworkshops-workshops .workshops-col:after {
    content: '';
    display: table; }
  .block-views-blockworkshops-workshops .workshops-col:after {
    clear: both; }
  .block-views-blockworkshops-workshops .workshops-col:last-child {
    margin-right: 0%; }
  .block-views-blockworkshops-workshops .views-row:nth-of-type(odd) {
    background-color: #F2F2F2; }
  .block-views-blockworkshops-workshops .views-row:nth-of-type(even) {
    background-color: transparent !important; } }

@media (min-width: 87.5em) {
  body.fluid-bear .site-header,
  body.fluid-bear .breadcrumbs-wrapper,
  body.fluid-bear .site-footer,
  body.fluid-bear h1.main__title,
  body.fluid-bear .breadcrumbs {
    padding-left: 20px;
    padding-right: 20px; }
  body.fluid-bear:not(.page-panels) h1.main__title {
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 25em) {
  .is-phone {
    display: none; } }

@media (min-width: 40.5em) {
  .slick--view--carousel {
    display: block; } }

@media print {
  a:link,
  a:visited {
    text-decoration: underline !important; }
  main a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 14px; }
  main a[href^="javascript:"]:after,
  main a[href^="#"]:after {
    content: ""; }
  main abbr[title]:after {
    content: " (" attr(title) ")"; }
  main {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important; }
  body,
  .page-wrap,
  .site-main,
  main {
    color: #000;
    background-color: transparent !important;
    background-image: none !important; }
  .skip-link,
  #toolbar,
  .site-navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .site-footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  .messages {
    visibility: hidden;
    display: none; } }
