#breadcrumb {
	ul {
		padding: 0;
	}
	li {
		display: inline;

		&.active {
			color: $bear-greyer;
		}

		&:not(:first-child)::before {
			content: "/";
			padding: 0 3px;
			color: $grey-skies;
		}
	}
}