#breadcrumb {
	@include layout-padding;
	font-weight: bold;
	a, a:visited {
		color: $breadcrumblink;
	}
	a:hover, a:visited:hover {
		color: $breadcrumblinkhover;
	}
	ul {
		padding: 0;
		margin: .5rem 0 0 0;
	}
	li {
		display: inline;

		&.active {
			color: $bear-greyer;
		}

		&:not(:first-child)::before {
			content: "/";
			padding: 0 3px;
			color: $grey-skies;
		}
	}
}