.slick--view--carousel {
	background-color: $silver;
	margin-bottom: 40px;
	display: none;
	@include breakpoint($breakpoint-med-small-width) {
		display: block;
	}
}

.slick-arrow::before {
	color: darken($silver, 50%);
}

.slick--skin--boxed .slide__content {
	margin: 0 15px;
	border: none;
	border-radius: 0;
}