.slick--view--carousel {
	background-color: $silver;
}

.slick-arrow::before {
	color: darken($silver, 50%);
}

.slick-dots {
	display: none !important;
}

.slick--skin--boxed .slide__content {
	border: none;
}