$facet-border: 1px solid $silver;

.block-facets {
	border: $facet-border;
	margin-bottom: 10px;
	&, &.open {
		h2 {
			background-image: url("/sites/default/files/images/common/facetopen.gif");
		}
		.content {
			display:block;
		}
	}
	&.closed {
		h2 {
			background-image: url("/sites/default/files/images/common/facetclosed.gif");
		}
		.content {
			display:none;
		}
	}
	h2 {
	    background-color: #eee;
	    background-position: 1rem 1.2rem;
	    background-repeat: no-repeat;
	    border-bottom: 1px solid #ccc;
	    margin: 0;
	    padding: 1rem 1rem 1rem 3rem;
		margin: 0;
		font-size: $base-font-size;
		border-bottom: $facet-border;
		&:hover {
			cursor: pointer;
		}
	}

	.content {
		padding: 1rem;
	}

	/* For facets showing list of links. */
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			margin-top:.9rem;
			a {
				@include link-colors(#000, $hover: #c60, $active: #000, $focus: #c60);
			}
		}
		
	}

	/* For facets showing list of checkboxes or dropdown.
	 * Some overriding of styles from _form.scss is happening here. */
	fieldset legend,
	.js-form-type-select label {
		display: none !important;
	}
	input {
		margin: .5rem 0 0 0;
		float:left;
		display: block;
	}
	.facet-count {
		float:right;
	}
	.facet-value-name {
		margin:0 2.5rem 0 2rem;
	}
	select {
		max-width: 100%;
	}
}



.facets-soft-limit-link {
	font-style: italic;
	display:block;
	margin-top:.9rem;
}

/* For staff modals */

/* Put list elements in two columns. Explanation here: http://www.w3schools.com/cssref/css3_pr_column-count.asp */
#cboxLoadedContent .content ul {
	list-style-type: none; /* remove the • */
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

#cboxLoadedContent .content ul li{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-bottom: 1px dotted $silver;

}

#cboxWrapper {
	box-shadow: 0 5px 10px #888;
}

#cboxTitle {
	font-size: 18px;
	padding-left: 40px;
	border-bottom: 1px solid $silver;
	width: 25%;

}

