.site-footer {
	font-size: $sub-footer-font-size;
	color: $white;
	padding: 1em 0;
	a {
		color: $baby-blue;
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}