footer {
	font-size: $sub-footer-font-size;
	color: $white;
	padding: 1em 0;
	a {
		color: $baby-blue;
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}

.wrapper--nav-footer {
	border-top: 1px solid $silver;
	box-shadow: inset 0 4.1667em 6.667em -1.667em rgba(20,44,55,.13),8.333em 0 0 -1.667em rgba(3,27,81,.3);
}