header {
  background-color: $concrete;
  display: block;
  .wrapper--nav .main-nav a {
    color: $white;
    &:hover {
      color: $silver;
    }
  }
  //div:first-child, div:nth-child(2) {
  //  float: left;
  //  width: 100%;
  //}
  .front-page & {
    background-color: $gulf-blue;
  }
}
.site-header {
  min-height: 6em;
  @include breakpoint($breakpoint-large-width) {
         min-height: 5em;
    }
}
.site-header__logo{
  float:left;
  width: 28rem;
  img{
    width: 27rem;
    height: 4.1rem;
    background-image: url(/sites/default/files/images/logos/pennlibrarielogoblack@2x.png); 
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  position: relative;
  top: 1rem;
  @include breakpoint($breakpoint-large-width) {
         top: 2rem;
    }
}
.front-page .site-header__logo img {
  background-image: url(/sites/default/files/images/logos/homepagelogowhite@2x.png); 
}
#block-bear-skin-branding {
  padding: 10px 0 20px 0;
  margin-right: 30px;
}

#top-nav-contact-us, #top-nav-login, #top-nav-logout {
  position: relative;
  top: .5rem;
}
