.wrapper--nav-footer {
	border-top: 1px solid $silver;
	@include box-shadow(0 300px 300px -300px rgba(3, 27, 90, 0.2) inset);
}

#footernav-col-one-giving.footernav__item a{
    display:block;
    background-image: url("/sites/default/files/images/givingbanner.png");
    height: 23.192rem;
    width: 13.4992rem;
    background-repeat:no-repeat;
    background-size: 100% auto;
    @include link-colors(#001f59, $hover: #001f59, $active: #001f59, $focus: #001f59);
    padding-left:1rem;

}

.wrapper--nav-footer footer {
  @include content-container;
  padding: 1.6rem 1em;
  display:none;
  @include breakpoint($breakpoint-large-width) {
    display: block;
  }
}
.front-page footer nav .footernav > li {
	width: 16%;
	&:first-child {
            @include inline-block;
            border-left: none;
    }
    &:nth-child(2) {
            border-left: dotted 1px #bbb;
    }
}
 
.wrapper--nav-footer footer nav {
   h2 {display:none;}
  .footernav {
    list-style:none;
    padding:0;
    h3, h4 {
      font-weight:bold;
      
    }
    h3 {
      font-size:1.3rem;
      text-transform: uppercase;
      margin: 0 0 1.4rem 0;
      
    }
    h4 {
      font-size:1em;
      margin: .975rem 0 1.3rem;
      font-style: oblique;
      letter-spacing: .04rem;
      
    }
    #footernav-about-general, #footernav-where-to-general, #footernav-research-teaching-general, #footernav-collections-general, #footernav-courseware-general, #footernav-tools-general, #footernav-contact-us-general {
    	
    	h4 {
      		display:none;
  		}
    }
    a {
      @include link-colors(#000, $hover: #777, $active: #000, $focus: #777);
    }
    > li {
      @include inline-block;
      width: 19.6%;

      border-left: dotted 1px #bbb;
      &:nth-child(2) {
            border-left: none;
          }
      &:first-child {
            display:none;
          }
      > a {
        display:none;
      }
      > ul {
        padding: 0 0 0 1.4rem !important;
      }
    }
    li {
      list-style:none;
      ul.footernav__sub {
        list-style:none;
        padding:0;
        .footernav__sub li.footernav__item {
			  padding-bottom: 1.2rem;
		}
      }
    }
  }
}

