.site-nav-footer{
  @include content-container;

  padding: 0 1em;

  ul {
    margin: 0;
  }
}

.wrapper--nav-footer {
	border-top: 1px solid $silver;
	box-shadow: inset 0 4.1667em 6.667em -1.667em rgba(20,44,55,.13);
}
