header .wrapper--nav {
    background-color: transparent;
    height: auto;
    @include breakpoint($breakpoint-large-width) {
      background-color:#003;
    }
}


header .wrapper--nav nav {
  
  @include content-container;
  outline: 0;

  .nolink {
    cursor: pointer;
  }

  .main-nav {
    @include cf();
    
    
    display: block;
    padding: 0;
    margin: 0;
    

    @include breakpoint($breakpoint-large-width) {
      top: 0;
      margin: 0 30px;
    }
    
    #main-nav-library-info, #main-nav-tools {
      > .main-nav__sub {
        width: 38.9rem;
      }
    }
    #main-nav-collections {
      > .main-nav__sub {
        left:auto;
        right:0;
        width: 59rem;
        #main-nav-collections-coll-col-one, #main-nav-collections-coll-col-two {
          width: 18rem
        }
        #main-nav-collections-coll-col-three {
          width: 22rem
        }
      }
    }
    #main-nav-facilities, #main-nav-research-teaching {
      > .main-nav__sub {
        width: 56rem;

      }
    }
    #main-nav-research-teaching {
      > .main-nav__sub {
        left:-30rem;
        right:auto;

      }
    }
    #main-nav-people {
      > .main-nav__sub {
        width: 63rem; 
        #main-nav-people-ppl-col-one, #main-nav-people-ppl-col-three {
            width: 19rem;
        } 
        #main-nav-people-ppl-col-two {
            width: 22.5rem;
        }
        
      }
    }

    #main-nav-courseware {
      > .main-nav__sub {
        width: 24rem;
      }
    }
    #main-nav-library-info-libinfo-col-one, 
    #main-nav-library-info-libinfo-col-two,
    #main-nav-facilities-inlib-col-one, 
    #main-nav-facilities-inlib-col-two, 
    #main-nav-facilities-inlib-col-three,
    #main-nav-people-ppl-col-one, 
    #main-nav-people-ppl-col-two,
    #main-nav-people-ppl-col-three,
    #main-nav-research-teaching-randt-col-one, 
    #main-nav-research-teaching-randt-col-two,
    #main-nav-research-teaching-randt-col-three,
    #main-nav-collections-coll-col-one,
    #main-nav-collections-coll-col-two,
    #main-nav-collections-coll-col-three,
    #main-nav-tools-tools-col-one,
    #main-nav-tools-tools-col-two,
    #main-nav-tools-tools-col-three  {
      > h3 {
        display:none;
      }

    }

    #main-nav-libinfo-col-one-general,
    #main-nav-ppl-col-one-general,
    #main-nav-randt-col-one-general,
    #main-nav-coll-col-one-general,
    #main-nav-tools-col-one-general,
    #main-nav-coll-col-three-request-forms,
    #main-nav-tools-col-two-fast-forms  {
      margin-top:-1rem;
       h4 {
        @include bear-element-invisible;
      }
    }
    
    #main-nav-ppl-col-three-quick-forms
    {
      margin-top:-.5rem;
       h4 {
        @include bear-element-invisible;
      }
    }
    #main-nav-coll-col-one-request-forms {
      margin-top:1.5em;
       h4 {
        @include bear-element-invisible;
      }
    }
    #main-nav-ppl-col-three-more-people,
    #main-nav-ppl-col-one-help-with,
    #main-nav-coll-col-one-search {
      margin-top:1.5em;
    }
    // Styling for top-level (landing page) links
    > .parent {
      margin: 0;
      position: relative;
      display: inline-block;
      height: 100%;
      display: none;

      @include breakpoint($breakpoint-large-width) {
        @include inline-block;
        @include col(1/6, $gutter:0);
      }

      
      &:hover {
        ul.main-nav__sub {
          top: 37px;
          opacity: 1;
          visibility: visible;
          z-index: 10;
          }
      }
    
      &:hover,
      &:focus,
      &.is-hovered {
          background: $white;
          h3 a {
            color: $orange;
            text-decoration: none;
          }
        }
    
      h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: .05rem;
      }
      h4 {
          font-size: 1em;
          font-style: oblique;
          font-weight: bold;
          margin: 0;
          padding: 0 0 0.546rem 0.7rem;
      }
      a {
        padding: 10px 0;
        text-decoration: none;
        text-align:center;
        display:block;
      }
      > ul.main-nav__sub {
        padding: 1em 0;
        box-shadow: 0.07rem 0.2rem 0.2rem #8d8d8d;
        background: $white;
        border: 0;
        margin: 0;
        padding: 20px 0;
        position: absolute;
        left: 0;
        top: 100px;
        min-width: 200px;
        opacity: 0;
        visibility: hidden;
        box-shadow: .17em .17em .17em #8d8d8d;
        border-left: solid 1px $silver;
        > li.main-nav__item {
          left: 0px; 
          position:relative;
          top: 0;
          @include inline-block;
          width: 18rem;
          padding: 0 0 0 1.4rem;
          border-left: dotted 1px #bbb;
          &:first-child {
            border-left: none;
          }
          .main-nav__sub {
            opacity: 1; 
            position: relative;
            top:0;
            width: 100%;
            min-width: 16rem;
            box-shadow: none;
            padding: 0;
            > li {
              width: 100%;
              display: block;
              margin-bottom: 0;
              padding: 0;
              .main-nav__sub {
                border-left: none;
                > .main-nav__item {
                  padding: .546rem .7rem;
                  &:hover {
                    @include mainnavleafblue;
                    a {
                      @include blueactivegradienttext;
                    }
                  }
                }
              }//end sub sub
            }
            
          }
       
        }
      }
    }//end parent

    // Mobile top-level links
    
    &.show.hburgermenu {
      > .parent {
        display: block;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid $grey-skies;

      }
      li {
        &:last-child {
          @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.3)) 
        }
        a {
          color:#000;
          text-align: left;
          padding: 1em 2em;
          &:hover, &:focus {
            @include blueactivegradient;
            @include blueactivegradienttext;
          }
          @include mobilerightarrow;
        }
      }
      // Hide sub-menus in mobile nav.
      ul.main-nav__sub {
        display: none;
      }
    }
  } //end .main-nav

  ul.main-nav__sub {
    
    
    li.main-nav__item {
      margin-bottom: 8px;
      padding: 0 10px;
      display: block;
      a {
        text-align:left;
        padding:0;
        color: #000;
        &:hover, &:focus {
          background: transparent;
          text-decoration: none;
        }
        &.is-active {
          background: transparent;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .main-nav__sub {}
    }
  } //end ul.main-nav__sub
} //end header nav
//single column menus - probably temporary

header nav .main-nav {
  > #main-nav-tools.parent {
    > .main-nav__sub  {
      left:auto; 
      right: 0;
    }
  }
  > #main-nav-courseware.parent {
    > .main-nav__sub  {
      padding: 1.4em;
      > .main-nav__item {
        display: block;
        margin-bottom: 0;
        padding: 0.546rem 0.7rem;
        width: 100%;
        border-left:none;
        &:hover {
          @include mainnavleafblue;
          a {
            @include blueactivegradienttext;
          }
        }
      }
    }
  }
}
/*main-nav-tools*/
//***************
// Hamburger icon
//***************
#mobile-nav {
  $span-transition: all .3s cubic-bezier(0.7, 0, 0.36, 0.63);
  height: 2.75em;
  display: block;
  background-color: #003;
  @include breakpoint($breakpoint-large-width) {
    display: none;
  }

  #mobile-button {
    display: block;
    width: 3em;
    height: 2.75em;
    float:right;
    background-color:#d9d9d9;
  }

  span {
    display: block;
    position: relative;
    background: $zivtech-dark;
    height: 5px;
    transition: $span-transition;
    width: 30px;
    top: 17px;
    margin: 0 auto;
    &:before, &:after {
      content: "";
      display: block;
      background: $zivtech-dark;
      height: 5px;
      margin-top: 0;
      position: absolute;
      width: 30px;
      transition: $span-transition;
    }
    &:before {
      top: 8px;
    }
    &:after {
      top: -8px;
    }
  }

  .on {
    span {
      background: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
} //end #mobile-nav
//ui-icon-carat-r ui-btn-icon-right
