
nav.pager {
        float:none;
		padding: .5rem 0 .6rem 0;
		border-top:solid 1px #ccc;
		border-bottom: solid 1px #ccc;     
    	.pager__items {
			text-align:left;
			margin:0;
			padding-left:0;
		}
}
//don't know why this is nth-child(2). This the top one and it looks like first-child
nav.pager:nth-child(2) {
	@include breakpoint($breakpoint-medium-width) {
      float:left;
      padding:0;
      border-top:none;
      border-bottom:none;
    }
    .pager__items {
    	margin: .8rem 0;
    	padding-left:0;
    }
	ul {
		padding-left:0;
	}
	&:nth-child(3) {
		float:none;
		padding: .5rem 0 .6rem 0;
		border-top:solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		.pager__items {
			text-align:left;
			margin:0;
		}
	}
}
.pager__items {
	list-style-type: none;
	padding-left:0;
	@include breakpoint($breakpoint-medium-width) {
      text-align: center;
      margin: .8rem 0 0 0;
    }
}
.pager__item {
	display: inline;
	margin-left: -1px;
	padding: .3rem .8rem;
	border: none;//1px solid $silver
	border-right:solid 1px #ccc;
	&.pager__item--previous {
		border-right:solid 1px #ccc;
		border-left:none;
		padding: 0.3rem 0.8rem 0.3rem 0.3rem;
	}
	&.pager__item--first {
		border-right:none;
	}
	&.pager__item--next,
	&.pager__item--last {
		border-right:none;
	}
	&.pager__item--next {
		padding: 0.3rem .2rem 0.3rem 0.8rem
	}
	&:hover {
		background-color: $concrete;
	}

	&.is-active {
		@include mainnavleafblue;
		//background-color: $chathams-blue;
		//border-color: $chathams-blue;
		a {
			@include blueactivegradienttext;
			//color: $white;
		}
	}

	&:first-child {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	&:last-child {
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}