//
// Mixins
//
@mixin alert($color: $cream, $font-color: $alert-font-color, $padding: $alert-padding) {
  $darker-color: darken($color, 10%);
  padding: $padding;
  background-color: $color;
  color: $font-color;
  margin: 1em 0;

  a {
    @include link-colors($font-color, $font-color);
    border-bottom: 1px dotted $font-color;
  }
}

//
// Reusable classes
//
%alert {
  @include alert;
}

%alert-error {
  background-color: lighten($color-error, 20%);
}

%alert-success {
  background-color: lighten($color-success, 20%);
}

%alert-warning {
  background-color: $color-warning;
}


//
// CSS Classes
//
.messages,
.main__highlighted [role="contentinfo"] {
  @extend %alert;

  &--error,
  &.error {
    @extend %alert-error;
  }

  &--success,
  &--status,
  &.status,
  &.ok {
    @extend %alert-success;
  }

  &--warning,
  &.warning {
    @extend %alert-warning;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
  }

  &__item {
    margin-bottom: 0.8em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // the output of dpm() gets put into a messages
  // we need to set its font color here
  .krumo-root {
    color: $base-font-color;
  }
}