//
// Mixins
//
@mixin tab-container() {
  @include cf;
  position: relative;
  height: $tabs-height;
  background-color: $tabs-container-bg-color;
  width: 100%;
  padding: 0;
  margin: $tabs-container-margin;
  border-bottom: 1px solid $tabs-border-color;
  white-space: nowrap;
}

@mixin tab($font-color: $base-font-color) {
  display: block;
  height: 4.5rem;
  background-color: $tabs-bg-color;
  line-height: $tabs-height;
  padding: 0;
  border-right: 1px solid $tabs-border-color;
  border: 1px solid $tabs-border-color;
  border-bottom: solid 1px #dfdfdf !important;
  letter-spacing:.04rem;
  @include breakpoint($breakpoint-medium-width) {
    float: left;
    text-align: center;
    height: $tabs-height;
    border-top-left-radius: $tabs-border-radius;
    border-top-right-radius: $tabs-border-radius;
    margin-right:.3rem;
    width:auto;
  }
  a {
    @include tab-link;
  }
  a:hover, a:active, a.active, &.is-active a, &.active a {
    @include mainnavleafblue;
    @include blueactivegradienttext 
  }
}
@mixin tab-link($font-color: $base-font-color) {
  color: $font-color;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.4rem 0;
  @include breakpoint($breakpoint-medium-width) {
    padding: 0 1.4rem;
  }
}

//
// CSS classes
//
.tabs-primary,
.tabs-secondary {
  @include tab-container;
  background: $zivtech-pale;
  li {
    @include tab;
  }
  a {
    @include tab-link;
  }
}
// Tabs in Subject Specialists View
.tab {
  @include tab;
  
  

  
}
.tabgroup {
  @include tab-container;
  height: auto;
}