{#
/**
 * @file
 * Default theme implementation of an active facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 *
 * @ingroup themeable
 */
#}
{% if show_count %}<div class="facet-count">({{ count }})</div>{% endif %}<div class="facet-value-name"><span class="js-facet-deactivate">(X)</span> {{ value }} </div>