{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 *
 * @ingroup themeable
 */
#}
{% if show_count %}<div class="facet-count">({{ count }})</div>{% endif %}<div class="facet-value-name">{{ value }}</div> 
