.subjspec-wrapper {
	h3 {
		font-style: italic;
		margin: 0;
	}
	img {
		width: 67px;
	}
	.separator {
		margin: 0 5px;
	}
	.tabgroup ul {
		margin: 0;
		padding: 0;
	}

	// Using Jeet for responsive layout.
	// On mobile, all the fields stack vertically:
	.field {
		@include stack();
	}
	.field--name-user-picture {
		margin-bottom:1rem;
		@include breakpoint($breakpoint-medium-width) {
			margin-bottom: 0;
		}
		@include breakpoint($breakpoint-large-width) {
			margin-right:1%;
		}
		@include breakpoint($breakpoint-largeaverage-width) {
			margin-right:0;
		}
		@include breakpoint($breakpoint-largelarge-width) {
			margin-right:0;
		}
	}
	.fullname {
		font-weight:bold;
		@include breakpoint($breakpoint-medium-width) {
			font-weight:normal;
		}
	}
	// On desktop, the fields are arranged in columns:
	@include breakpoint($breakpoint-medium-width) {
		.field--name-user-picture {
			@include col(1.4/12, $cycle: 3);
		}
		.fullname {
			@include col(2.6/12, $cycle: 3);
			
		}
		.contactinfo {
			@include col(7.9/12, $cycle: 3);
		}
		// Arrange the office and phone numbers side by side, with email listed after phone(s):
		.field--name-field-room {
			@include col(5/8, $cycle: 2);
		}
		.field--name-field-phone,
		.field--name-field-email-address {
			@include col(3/8, $cycle: 2);
		}
	}
	@include breakpoint($breakpoint-largelarge-width) {
		.field--name-user-picture {
			@include col(1.2/12, $cycle: 3);
		}
	}
}
.subject {
	border-top: 1px solid $silver;
	padding: 13px;
	&:nth-of-type(odd) {
		background-color: #f8f8f8;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}
.specialist {
	margin-top: 1.5rem;
	@include breakpoint($breakpoint-medium-width) {
		margin-top: 1rem;
	}
	&:first-child {
		margin-top: 1rem;
	}
	@include cf();
	.fullname {
		span {
			float: left;
		}

	}
}