#toggle-view-mode {
	float:none;
	padding: 1rem 0 0.4rem 10rem;
	width:auto;
	@include breakpoint($breakpoint-medium-width) {
		text-align:right;
		padding: 1rem 16rem 0.4rem 12rem;
	}
	
	border-top:solid 1px #ccc;
	.dropdown {
		display: none;
		position: absolute;
		z-index: 999;
		background: $white;
		width: 12rem;
		padding: 0.7rem 0 .4rem;
		margin: .3rem 0 0 0;
		list-style-type: none;
		border: 1px solid $silver;
		border-top: none;
		line-height: 240%;
		left:11.5rem;
		right:auto;
		@include breakpoint($breakpoint-medium-width) {
			left:auto;
			right:14.5rem;
		}
		
		@include box-shadow(0 2px 2px rgba(0, 0, 0, .3))
		#view-mode-normal {
			span {
			    display: block;
			    margin-right: auto;
			    width: 93px;
			}
		}
		#view-mode-brief {
			span {
			    display: block;
			    margin-right: auto;
			    width: 76px;
			}
		}
		
	}
	.label {
		cursor: pointer;
    	padding-left:.6rem;
    	padding-right: 1rem;
    	width:9.5rem;
    	@include breakpoint($breakpoint-medium-width) {
			text-align:right;
			padding-right: 1.5rem;
			width: 12rem;
			margin-left:auto;
		}
		background-image: url(/sites/default/files/images/common/arrowdownarrow.gif);
		background-repeat:no-repeat;
		background-position: right .75rem;
		&::before {
			content: url(/sites/default/files/images/common/fullview-option.png);
			margin-right: 5px;
		}
	}
	&.active {
		.label {
			background-image: url(/sites/default/files/images/common/arrowdownminus.gif);
		}
		.dropdown {
			display: block;
		}
	}
	li:hover {
		@include mainnavleafblue;
		@include blueactivegradienttext; 
		cursor:pointer;

	}
}

// Switch the toggle's icon when in brief mode.
.briefview #toggle-view-mode {
	.label::before {
		content: url(/sites/default/files/images/common/briefview-option.png);
	}
}

#view-mode-normal {
	span::before {
		margin: 0 5px;
		content: url(/sites/default/files/images/common/fullview-option.png);
	}
	&.checked span::before {
		content: url(/sites/default/files/images/common/fullview-selected.png);
	}
}
#view-mode-brief {
	span::before {
		margin: 0 5px;
		content: url(/sites/default/files/images/common/briefview-option.png);
	}
	&.checked span::before {
		content: url(/sites/default/files/images/common/briefview-selected.png);
	}
}
.block-views-blockstaff-search-block-1.normalview .field--name-field-room,
.block-views-blockstaff-search-block-1.normalview .field--name-user-picture {
	display:block;
	@include breakpoint($breakpoint-large-width) {
       display: block;
    }
    @include breakpoint($breakpoint-largeaverage-width) {
       @include inline-block;
    }
}

.block-views-blockstaff-search-block-1.briefview .field--name-field-room,
.block-views-blockstaff-search-block-1.briefview .field--name-user-picture,
.block-views-blockstaff-search-block-1.briefview .field--name-field-department,
.block-views-blockstaff-search-block-1.briefview .field--name-field-division,
.block-views-blockstaff-search-block-1.briefview .field--name-field-library   {
	display:none !important;
}
.block-views-blockstaff-search-block-1.briefview  .field.field--name-field-email-address,
.block-views-blockstaff-search-block-1.briefview .staff-search-wrapper .views-row .staffcontact .field__item {
    margin-top: 0;
}


