#toggle-view-mode {
	width:8.5rem;
	padding:0;
	.label {
		cursor: pointer;
    	padding-left:.6rem;
    	padding-right: 1rem;
		background-image: url(/sites/default/files/images/common/arrowdownarrow.gif);
		background-repeat:no-repeat;
		background-position: right .75rem;
		&::before {
			content: url(/sites/default/files/images/common/fullview-option.gif);
			margin-right: 5px;
		}
	}
	.dropdown {
		display: none;
		position: absolute;
		z-index: 999;
		background: $white;
		width: 100px;
		padding: .4rem 0 0 0;
		margin: 0;
		list-style-type: none;
		border: 1px solid $silver;
		border-top: none;
		line-height: 180%;
	}
	&.active {
		.label {
			background-image: url(/sites/default/files/images/common/arrowdownminus.gif);
		}
		.dropdown {
			display: block;
		}
	}
	li:hover {
		background-color: $concrete;
	}
}

// Switch the toggle's icon when in brief mode.
.briefview #toggle-view-mode .label::before {
	content: url(/sites/default/files/images/common/briefview-option.gif);
}

#view-mode-normal {
	span::before {
		margin: 0 5px;
		content: url(/sites/default/files/images/common/fullview-option.gif);
	}
	&.checked span::before {
		content: url(/sites/default/files/images/common/fullview-selected.gif);
	}
}
#view-mode-brief {
	span::before {
		margin: 0 5px;
		content: url(/sites/default/files/images/common/briefview-option.gif);
	}
	&.checked span::before {
		content: url(/sites/default/files/images/common/briefview-selected.gif);
	}
}
.block-views-blockstaff-search-block-1.normalview .field--name-field-room,
.block-views-blockstaff-search-block-1.normalview .field--name-user-picture {
	display:block;
	@include breakpoint($breakpoint-large-width) {
      @include inline-block;
    }
}

.block-views-blockstaff-search-block-1.briefview .field--name-field-room,
.block-views-blockstaff-search-block-1.briefview .field--name-user-picture,
.block-views-blockstaff-search-block-1.briefview .field--name-field-department,
.block-views-blockstaff-search-block-1.briefview .field--name-field-division,
.block-views-blockstaff-search-block-1.briefview .field--name-field-library   {
	display:none !important;
}
.block-views-blockstaff-search-block-1.briefview  .field.field--name-field-email-address,
.block-views-blockstaff-search-block-1.briefview .staff-search-wrapper .views-row .staffcontact .field__item {
    margin-top: 0;
}


